<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>Lab487mod11ad.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lab487mod11appservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lab487mod11appservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Lab487Mod11AppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Lab487Mod11AppService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://Lab487mod11ad.onmicrosoft.com/WebApp-lab487mod11appservice.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>62b2635a-b9d7-4e6f-9a32-c9a5b53009ae</ADClientAPPID>
    <ADClientPassword>CUYCiiaXabmRnOFyazoX4a0pQXm4gTGDv0g9O2wrdvs=</ADClientPassword>
    <ADReplyUrl>https://lab487mod11appservice.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>d2b9ce1d-aafc-4b7f-8697-0cdb48a32a9a</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>